@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

@import "~normalize.css";

@import "_variables";

body {
  background: $background;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.glass {
  display: flex;
  justify-content: center;
  position: relative;
  margin-bottom: 48px;
  &__number {
    font-size: 112px;
    font-weight: 500;
    color: #000000;
    position: absolute;
  }
}

.main {
  &__heading {
    font-size: 55px;
    text-align: center;
    font-weight: 500;
    margin-top: 87px;
    margin-bottom: 68px;
  }
  &__button {
    &--add {
      width: 216px;
      height: 47px;
      font-size: 18px;
      font-weight: 500;
      border: none;
      border-radius: 4px;
      margin-bottom: 37px;
    }
    &--remove {
      width: 184px;
      height: 23px;
      background: $background;
      color: #F5E5E7;
      border: none;
    }
  }
}


